* {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: 800;
    color: rgb(215, 63, 63);
    text-decoration: underline black;
}

.btn {
    width: 150px;
    height: 150px;
    margin: 2.5rem;
    border: 8px solid black;
    border-radius: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.btn_container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: #f7444e
}

.purple {
    background-color: #725a7a
}

.aqua {
    background-color: #78bcc4
}

.pink {
    background-color: #b56576
}

.flash {
    background-color: white;
}

.highscore {
    height: 50px;
    width: 200px;
    background-color: rgb(59, 149, 60);
    position: absolute;
}

button {
    height: 50px;
    width: 400px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 30px;
    background: linear-gradient(135deg, rgb(235, 163, 31), rgb(137, 4, 137));

}